<p class='lead float-left'><strong>Zip:</strong> <span id='zip-code' class='zip-code'><%= current_user.zip_code if current_user.zip_code %></span></p>
<section id='update-zip-code'>
	<section class='update-zip-code-form hide'>
		<%= form_for @user, remote: true do |f| %>
		<section class="input-append">
			<%= f.text_field :zip_code, class: 'input-mini' %>
			<%= f.submit 'Update', class: 'btn' %>
			<button class="btn zip-code" id='update-zip-code-x' type="button">x</button>
		</section>
		<% end %>
	</section>
</section>
