<% title 'ⱭB => Home', false %>
<section id='current-user-activties' class='clear-left'>
	<small>
    <em>Click on an activity to upadte your rating</em>
  </small>
  <%= render partial: '/interests/user_interests', collection: @ordered_interests, as: :interest %>
  <%= link_to 'My Images', user_images_path(current_user), class: 'btn btn-link' %>
</section>
<span id='add-activity-btn' class='on-click-once btn-link'>+</span>
<section id='add-activity' class='hide'>
	<small>
    <em>Rate the activity you want to add.</em>
  </small>
	<section id='activity-options'>
		<%= render partial: '/interests/add_interest', collection: @activities, as: :activity %>
	</section>
</section>



