<section id='place-banner'><img class='banner-img' src="<%= @banner_images.first.url %>" ></section><!-- /#place-banner -->
<section id='place-title' class='lead'><%= @event.title %></section><!-- /#place-title -->

