/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 .show {
	 display: inline;
 }
 .hide {
	 display: none;
 }
 body {
 	padding-top: 60px;
 }
 .inline {
	 display: inline;
 }
 .float-left{
	 float: left;
 }
 .current-user-rating-options{
	 margin-left: 5px;
 }
 .height-mini{
	 height: 28px;
 }
 .clear-left {
	 clear: left;
 }
 .login-link:hover{
    text-decoration: none;
 }
 
 input.btn.input-nav, 
 button#update-zip-code-x.btn.zip-code.input-nav,
 input#user_zip_code.input-mini.input-nav {
   margin-top: 6px; 
 }
 
 form.edit_user.zip-code {
   margin-left: 15px;
 }
 
 #flash-exit{
   margin-top: 3px;
   margin-right: 2px;
 }
 
 ul.dropdown-menu { 
   width: 180px;
   height: 45px;
   z-index: 1052;
 }
 
 .user-image{
   width: 35px;
   height: 35px;
 }
 .thick-border {
   border: 1px solid #000;
 }
 iframe{
   width: 348px;
   height: 215px;
 }