// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.clean-border {
  border: 1px solid #eee;
}
.comments-title{
  margin-left: 10px;
}
.comment-content{
  padding: 10px;
  padding-bottom: 25px;
}
.comment-new{
  height: 110px;
}
.comments{
  margin-top: 20px;
  margin-bottom: 50px;
}
#new-comment-text-area{
  margin-top: 10px;
}
#comment-user-img{
  float: left;
}
#comment-username{
  font-size: small;
  font-weight: bold;
  font-style: italic;

}
#comment-date-time{
  font-size: x-small;
  font-style: italic;
}
#commnet-figure{
  float: left;
  margin: 0px;
}
