// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#comment-user-img{
  float: left;
}
#comment-username{
  font-size: small;
  font-weight: bold;
  font-style: italic;

}
#comment-date-time{
  font-size: x-small;
  font-style: italic;
}

.clean-border {
  border: 1px solid #eee;
}

#place-comments-title{
  margin-left: 10px;
}

.comment-content{
  padding: 10px;
  padding-bottom: 25px;
}

#commnet-figure{
  float: left;
  margin: 0px;
}
