<% if thumbnail_counter < 5 %>
  <a class='image-modal-link' href="#image-modal" role="button" data-toggle="modal" data-image-frame="<%= thumbnail_counter %>">
    <%= image_tag thumbnail.image_url(:thumb), class: 'place-thumbnail img-rounded hover-gray' if thumbnail.image? %>
  </a>
<% end %>
